<% if @results.present? %>
    <%= render 'search/result_set', set: 'companies', results: @results.companies %>
    <%= render 'search/result_set', set: 'products', results: @results.products %>

    <ul class="pager col-md-12">
      <li class='<%= previous_link(@results) %>'><%= link_to 'Previous', root_path(page: @results.page.pred, query: params[:query]) %></li>
      <li class='<%= next_link(@results) %>'><%= link_to 'Next', root_path(page: @results.page.next, query: params[:query]) %></li>
    </ul>
<% end %>