<%= form_tag('/', method: 'get') do %>
    <%= text_field_tag(:query) %>
    <%= submit_tag('search') %>
<% end %>
<% if @results.present? %>
    <ul class='companies'>
      <% @results.companies.each do |item| %>
          <li>
            <div class='name'><%= item['name'] %></div>
            <div class='description'><%= item['description'] %></div>
          </li>
      <% end %>
    </ul>
    <ul class='products'></ul>
<% end %>