<div class='col-md-6'>
  <%= crunchbase_image @company.image %>
  <div class='overview'>
    <%= @company.overview.html_safe %>
  </div>
</div>

<div class='col-md-6'>
  <div class="people list-group">
    <% @company.people.each do |person| %>
        <a class='person list-group-item' href="<%= crunchbase_person_url(person.id) %>">
          <h5><div class='role'><%= person.role %></div></h5>
          <div class='first_name'><%= person.first_name %></div>
          <div class='last_name'><%= person.last_name %></div>
        </a>
    <% end %>
  </div>
</div>
